<div 
    class="flex flex-col md:flex-row justify-center"
    [class.disabled]="!enabled">
    @for (app of opts$ | async; track $index) {
        <ng-container
            [ngTemplateOutlet]="optTab"
            [ngTemplateOutletContext]="{ optName: app.name, index: $index }">
        </ng-container>
    }
    @if (opts$.value.length === 0) {
        <ng-container
            [ngTemplateOutlet]="optTab"
            [ngTemplateOutletContext]="{ optName: noOptMessage, index: dummy.int }">
        </ng-container>
    }
</div>

<ng-template #optTab let-optName="optName" let-index="index">
    <button
        type="button" 
        class="opt-tab w-full"
        [class.clickable]="opts$.value.length > 0"
        [class.selected]="selectedOptIdx !== dummy.int && index === selectedOptIdx"
        [class.placeholder]="optName === ''"
        (click)="selectOpt(index)">
        {{ optName }}
    </button>
</ng-template>