<div class="app-container">
    <app-page-title>Development Tracker</app-page-title>
    <br/>
    <app-app-list (onAppClick)="onAppClick($event)"></app-app-list>
    <br/>
    <div class="flex flex-col gap-2">
        <button 
            class="btn-basic clickable"
            [class.hidden]="!isAppSelected()"
            (click)="openNewTicket()">
            <i class="fas fa-plus"></i>&nbsp;&nbsp;Create Dev Ticket
        </button>
        @for (ticket of devTickets$ | async; track $index) {
            <app-dev-ticket-card
                [devTicket]="ticket"
                (onClick)="onTicketClick($index)">
            </app-dev-ticket-card>
        }
        @if (!isAppSelected()) {
            <div class="placeholder">Select app to view it's development tickets.</div>
        }
    </div>
    @if (isOpenTicketEditor) {
        <app-modal 
            [title]="getDevTicketEditorTitle()" 
            (closed)="closeModal()">
            <app-dev-ticket-editor
                [devTicket]="getSelectedDevTicket()"
                (onCreateNewTicket)="createNewTicketAsync($event)">
            </app-dev-ticket-editor>
        </app-modal>
    }
</div>



