<div class="app-container">
    <app-page-title>Development Tracker</app-page-title>
    <br/>
    <app-app-list (onAppClick)="onAppClick($event)"></app-app-list>
    <br/>
    <div class="p-2 rounded-lg flex flex-col gap-2">
        @for (ticket of devTickets$ | async; track $index) {
            <app-dev-ticket-card
                [devTicket]="ticket"
                (onClick)="onTicketClick($event)">
            </app-dev-ticket-card>
        }
        @if (devTickets$.getValue().length === 0) {
            <div class="placeholder">Select app to view it's development tickets.</div>
        }
    </div>
    @if (selectedTicketIdx !== dummy.int) {
        <app-modal 
            [title]="devTickets$.value[selectedTicketIdx].title" 
            (closed)="selectedTicketIdx = dummy.int">
            <app-dev-ticket-editor
                [devTicket]="devTickets$.value[selectedTicketIdx]">
            </app-dev-ticket-editor>
        </app-modal>
    }
</div>



