<form action="">
    <div class="form-basic {{ class }}">
        <label class="form-title">Registration</label>
        <input class="input-basic" type="text" name="name" id="name" placeholder="Full name" />
        <input class="input-basic" type="text" name="email" id="email" placeholder="Email" />
        <input class="input-basic" type="text" name="phone" id="phone" placeholder="Phone" />
        <input class="input-basic" type="password" name="password" id="password" placeholder="Password" />
        <input class="input-basic" type="password" name="retype_password" id="retype_password"
            placeholder="Retype Password" />
        <button class="btn-basic" type="submit">Register</button>
    </div>
</form>