<div 
    class="flex flex-col md:flex-row justify-center"
    [class.disabled]="!enabled"
    [class.readonly]="readonly">
    @for (opt of opts$ | async; track $index) {
        <ng-container
            [ngTemplateOutlet]="optTab"
            [ngTemplateOutletContext]="{ opt: opt }">
        </ng-container>
    }
    @if (opts$.value.length === 0) {
        <ng-container
            [ngTemplateOutlet]="optTab"
            [ngTemplateOutletContext]="getDummyOpt()">
        </ng-container>
    }
</div>

<ng-template #optTab let-opt="opt">
    <button
        type="button" 
        class="opt-tab w-full"
        [class.clickable]="opts$.value.length > 0"
        [class.togglable]="isOptionSelected(opt) && allowMultiSelect"
        [class.selected]="isOptionSelected(opt) && !allowMultiSelect"
        [class.placeholder]="opt.name === ''"
        (click)="onOptClick(opt)">
        {{ opt.name }}
    </button>
</ng-template>