<div class="ticket-card">
    <div class="status">
        <i class="fas {{ _devTicketService.getStatus(devTicket).icon }} {{ _devTicketService.getStatus(devTicket).color }}"></i> 
        <span class="{{ _devTicketService.getStatus(devTicket).color }} hidden md:inline">&nbsp;{{ _devTicketService.getStatus(devTicket).name }}</span>
    </div>
    <div class="co-date">
        {{ statusCorrespondingDate | date:'MMMM, yyyy'  }}
    </div>
    <div 
        class="title clickable"
        (click)="doClick()"> 
        {{ devTicket.title }} 
    </div>
    <div class="priority">
        <app-badge [colorProfile]="_devTicketService.getPriorityColor(devTicket)">
            {{ _devTicketService.getPriority(devTicket).name }}
        </app-badge>
    </div>
</div>