<div *ngIf="showRegistration !== showLogin" class="md:hidden text-right mt-3 mr-2">
  <a
    class="text-sm text-gray-600 border-2 py-1 px-2 rounded-sm"
    *ngIf="showRegistration"
    href="login-registration/login"
    >Login</a
  >
  <a
    class="text-sm text-gray-600 border-2 py-1 px-2 rounded-sm"
    *ngIf="showLogin"
    href="login-registration/registration"
    >Register</a
  >
</div>

<div
  *ngIf="showFormChooser"
  class="md:hidden flex flex-col gap-2 justify-center min-h-screen px-10"
>
  <a class="btn-basic" href="login-registration/login">Login</a>
  <a class="btn-basic" href="login-registration/registration">Registration</a>
</div>

<div
  *ngIf="showForms"
  class="flex flex-col md:flex-row-reverse justify-center gap-2 md:gap-20 md:items-center min-h-[80vh] md:min-h-screen mx-2"
>
  <app-login class="lg:w-100 2xl:w-150" *ngIf="showLogin"></app-login>
  <div *ngIf="isDesktop" class="md:h-150 md:w-px bg-gray-700"></div>
  <app-registration class="lg:w-100 2xl:w-150" *ngIf="showRegistration"></app-registration>
</div>
