<div class="flex flex-col gap-2">
    <div class="flex justify-between flex-col md:flex-row gap-3">
        <div class="md:w-4xs">
            <button 
                class="btn-basic clickable" 
                [class.disabled]="isEmptyTitle()"
                [class.hidden]="isDoneStatus()"
                (click)="updateStatus()">
                {{ statusActionMap.get(devTicket.status.id) }}
            </button>
        </div>
        <app-option-chooser
            [enabled]="!isDoneStatus()"
            [options]="getDevTicketPriorities()"
            [selectedId]="selectedPriorityId"
            (onOptionClick)="updateDevTicketPriority($event)">
        </app-option-chooser>
    </div>
    <input 
        [class.disabled]="isDoneStatus()"
        class="input-basic" 
        type="text"
        placeholder="Title"
        [value]="devTicket.title"
        (keyup)="updateTitle($event.target.value)">
    <textarea 
        class="border default-border-color py-2 px-3 rounded-lg min-w-full md:w-[70vw] h-[60vh] md:h-[40vh] focus:outline-0 resize-none"
        placeholder="Description"
        [class.disabled]="isDoneStatus()"
        (keyup)="updateDescription($event)">{{ devTicket.developmentDetails }}</textarea>
    <button 
        class="btn-basic clickable"
        [class.disabled]="isCreatingNewTicket() || isDoneStatus()"
        (click)="saveChanges()">
        <i class="fas fa-save"></i>&nbsp;&nbsp;Save Changes
    </button>
</div>